sg/SG/AdminManager/Service References/ServiceReference1/GestionDesguace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionDesguace" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2489/GestionDesguace.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2489/GestionDesguace.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2489/GestionDesguace.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ManagerSystem" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionDesguace_addNewDesguace_InputMessage">
    <wsdl:part name="parameters" element="tns:addNewDesguace" />
  </wsdl:message>
  <wsdl:message name="IGestionDesguace_addNewDesguace_OutputMessage">
    <wsdl:part name="parameters" element="tns:addNewDesguaceResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionDesguace_getById_InputMessage">
    <wsdl:part name="parameters" element="tns:getById" />
  </wsdl:message>
  <wsdl:message name="IGestionDesguace_getById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionDesguace_getAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="IGestionDesguace_getAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionDesguace_activateDesguace_InputMessage">
    <wsdl:part name="parameters" element="tns:activateDesguace" />
  </wsdl:message>
  <wsdl:message name="IGestionDesguace_activateDesguace_OutputMessage">
    <wsdl:part name="parameters" element="tns:activateDesguaceResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionDesguace">
    <wsdl:operation name="addNewDesguace">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionDesguace/addNewDesguace" message="tns:IGestionDesguace_addNewDesguace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionDesguace/addNewDesguaceResponse" message="tns:IGestionDesguace_addNewDesguace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getById">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionDesguace/getById" message="tns:IGestionDesguace_getById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionDesguace/getByIdResponse" message="tns:IGestionDesguace_getById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionDesguace/getAll" message="tns:IGestionDesguace_getAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionDesguace/getAllResponse" message="tns:IGestionDesguace_getAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="activateDesguace">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionDesguace/activateDesguace" message="tns:IGestionDesguace_activateDesguace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionDesguace/activateDesguaceResponse" message="tns:IGestionDesguace_activateDesguace_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGestionDesguace" type="tns:IGestionDesguace">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="addNewDesguace">
      <soap:operation soapAction="http://tempuri.org/IGestionDesguace/addNewDesguace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getById">
      <soap:operation soapAction="http://tempuri.org/IGestionDesguace/getById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://tempuri.org/IGestionDesguace/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateDesguace">
      <soap:operation soapAction="http://tempuri.org/IGestionDesguace/activateDesguace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GestionDesguace">
    <wsdl:port name="BasicHttpBinding_IGestionDesguace" binding="tns:BasicHttpBinding_IGestionDesguace">
      <soap:address location="http://localhost:2489/GestionDesguace.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>