sg/SG/AdminManager/Service References/ServiceReference1/GestionDesguace1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2489/GestionDesguace.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ManagerSystem" />
  <xs:element name="addNewDesguace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addNewDesguaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addNewDesguaceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desguaceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="getByIdResult" nillable="true" type="q1:Desguace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="getAllResult" nillable="true" type="q2:ArrayOfDesguace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activateDesguace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desguaceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activateDesguaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activateDesguaceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>