sg/SG/AdminManager/Service References/ServiceReference1/GestionDesguace2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ManagerSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagerSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Desguace">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Desguace" nillable="true" type="tns:Desguace" />
  <xs:complexType name="ArrayOfDesguace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Desguace" nillable="true" type="tns:Desguace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDesguace" nillable="true" type="tns:ArrayOfDesguace" />
</xs:schema>