taller/ECommerce/Eggplant/Service References/ServiceTaller/GestionTaller43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sorception.azurewebsites.net/" elementFormDefault="qualified" targetNamespace="http://sorception.azurewebsites.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://sorception.azurewebsites.net/GestionTaller.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ManagerSystem" />
  <xs:complexType name="ExpTaller">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpTaller" nillable="true" type="tns:ExpTaller" />
  <xs:complexType name="TokenResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="status" type="q1:TokenResponse.Code" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenResponse" nillable="true" type="tns:TokenResponse" />
  <xs:complexType name="ExpSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="deadline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_en_taller" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="lineas" nillable="true" type="q2:ArrayOfExpSolicitud.Line" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpSolicitud" nillable="true" type="tns:ExpSolicitud" />
  <xs:complexType name="ArrayOfExpSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpSolicitud" nillable="true" type="tns:ExpSolicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpSolicitud" nillable="true" type="tns:ArrayOfExpSolicitud" />
  <xs:complexType name="ArrayOfExpOferta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpOferta" nillable="true" type="tns:ExpOferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpOferta" nillable="true" type="tns:ArrayOfExpOferta" />
  <xs:complexType name="ExpOferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_en_desguace" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="lineas" nillable="true" type="q3:ArrayOfExpOferta.Line" />
      <xs:element minOccurs="0" name="solicitud_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpOferta" nillable="true" type="tns:ExpOferta" />
  <xs:complexType name="ExpPedido">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="lineas" nillable="true" type="q4:ArrayOfExpPedido.Line" />
      <xs:element minOccurs="0" name="oferta_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpPedido" nillable="true" type="tns:ExpPedido" />
</xs:schema>