taller/ECommerce/Eggplant/Service References/ServiceTaller/GestionTaller1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sorception.azurewebsites.net/GestionTaller.svc?xsd=xsd2" namespace="http://sorception.azurewebsites.net/" />
  <xs:element name="signUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://sorception.azurewebsites.net/" minOccurs="0" name="et" nillable="true" type="q1:ExpTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="signUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://sorception.azurewebsites.net/" minOccurs="0" name="signUpResult" nillable="true" type="q2:TokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://sorception.azurewebsites.net/" minOccurs="0" name="getStateResult" nillable="true" type="q3:TokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="putTaller">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://sorception.azurewebsites.net/" minOccurs="0" name="t" nillable="true" type="q4:ExpTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="putTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="putTallerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTaller">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteTallerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://sorception.azurewebsites.net/" minOccurs="0" name="getSolicitudResult" nillable="true" type="q5:ExpSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSolicitudes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSolicitudesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://sorception.azurewebsites.net/" minOccurs="0" name="getSolicitudesResult" nillable="true" type="q6:ArrayOfExpSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://sorception.azurewebsites.net/" minOccurs="0" name="s" nillable="true" type="q7:ExpSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addSolicitudResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="putSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://sorception.azurewebsites.net/" minOccurs="0" name="s" nillable="true" type="q8:ExpSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="putSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="putSolicitudResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteSolicitudResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOfertas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="solicitud" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOfertasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://sorception.azurewebsites.net/" minOccurs="0" name="getOfertasResult" nillable="true" type="q9:ArrayOfExpOferta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="oferta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getOfertaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://sorception.azurewebsites.net/" minOccurs="0" name="getOfertaResult" nillable="true" type="q10:ExpOferta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectOferta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://sorception.azurewebsites.net/" minOccurs="0" name="p" nillable="true" type="q11:ExpPedido" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="selectOfertaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="selectOfertaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>