taller/Berenjena/Eggplant/Service References/ServiceTaller/GestionTaller.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ManagerSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagerSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ExposedTaller">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposedTaller" nillable="true" type="tns:ExposedTaller" />
  <xs:complexType name="ExposedSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lineas" nillable="true" type="tns:ArrayOfExposedLineaSolicitud" />
      <xs:element minOccurs="0" name="taller_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposedSolicitud" nillable="true" type="tns:ExposedSolicitud" />
  <xs:complexType name="ArrayOfExposedLineaSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExposedLineaSolicitud" nillable="true" type="tns:ExposedLineaSolicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExposedLineaSolicitud" nillable="true" type="tns:ArrayOfExposedLineaSolicitud" />
  <xs:complexType name="ExposedLineaSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposedLineaSolicitud" nillable="true" type="tns:ExposedLineaSolicitud" />
  <xs:complexType name="ArrayOfExposedSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExposedSolicitud" nillable="true" type="tns:ExposedSolicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExposedSolicitud" nillable="true" type="tns:ArrayOfExposedSolicitud" />
</xs:schema>