taller/Berenjena/Eggplant/Service References/ServiceTaller/GestionTaller.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sorception.azurewebsites.net/" elementFormDefault="qualified" targetNamespace="http://sorception.azurewebsites.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sorception.azurewebsites.net/GestionTaller.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ManagerSystem" />
  <xs:complexType name="ExposedTaller">
    <xs:sequence>
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposedTaller" nillable="true" type="tns:ExposedTaller" />
  <xs:complexType name="TokenResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="status" type="q1:TokenResponse.Code" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenResponse" nillable="true" type="tns:TokenResponse" />
  <xs:complexType name="ExposedSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_en_taller" type="xs:int" />
      <xs:element minOccurs="0" name="lineas" nillable="true" type="tns:ArrayOfExposedLineaSolicitud" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposedSolicitud" nillable="true" type="tns:ExposedSolicitud" />
  <xs:complexType name="ArrayOfExposedLineaSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExposedLineaSolicitud" nillable="true" type="tns:ExposedLineaSolicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExposedLineaSolicitud" nillable="true" type="tns:ArrayOfExposedLineaSolicitud" />
  <xs:complexType name="ExposedLineaSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_en_taller" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposedLineaSolicitud" nillable="true" type="tns:ExposedLineaSolicitud" />
  <xs:complexType name="ArrayOfExposedSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExposedSolicitud" nillable="true" type="tns:ExposedSolicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExposedSolicitud" nillable="true" type="tns:ArrayOfExposedSolicitud" />
  <xs:complexType name="ArrayOfExposedOferta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExposedOferta" nillable="true" type="tns:ExposedOferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExposedOferta" nillable="true" type="tns:ArrayOfExposedOferta" />
  <xs:complexType name="ExposedOferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="desguace_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="lineas" nillable="true" type="tns:ArrayOfExposedLineaOferta" />
      <xs:element minOccurs="0" name="solicitud_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposedOferta" nillable="true" type="tns:ExposedOferta" />
  <xs:complexType name="ArrayOfExposedLineaOferta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExposedLineaOferta" nillable="true" type="tns:ExposedLineaOferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExposedLineaOferta" nillable="true" type="tns:ArrayOfExposedLineaOferta" />
  <xs:complexType name="ExposedLineaOferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_en_desguace" type="xs:int" />
      <xs:element minOccurs="0" name="id_linea" type="xs:int" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExposedLineaOferta" nillable="true" type="tns:ExposedLineaOferta" />
  <xs:complexType name="TallerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="oferta_id" type="xs:int" />
      <xs:element minOccurs="0" name="selected_lines" nillable="true" type="tns:ArrayOfTallerResponse.SelectedLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TallerResponse" nillable="true" type="tns:TallerResponse" />
  <xs:complexType name="ArrayOfTallerResponse.SelectedLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TallerResponse.SelectedLine" nillable="true" type="tns:TallerResponse.SelectedLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTallerResponse.SelectedLine" nillable="true" type="tns:ArrayOfTallerResponse.SelectedLine" />
  <xs:complexType name="TallerResponse.SelectedLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="line_id" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TallerResponse.SelectedLine" nillable="true" type="tns:TallerResponse.SelectedLine" />
</xs:schema>