sg/Admin/Manager/AdminManager/Service References/ServiceAdmin/GestionAdmin32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sorception.azurewebsites.net/GestionAdmin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ManagerSystem" />
  <xs:element name="getDesguaces">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDesguacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="getDesguacesResult" nillable="true" type="q1:ArrayOfDesguace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTalleres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTalleresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="getTalleresResult" nillable="true" type="q2:ArrayOfTaller" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activeDesguace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activeDesguaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activeDesguaceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activeTaller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="active" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activeTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="activeTallerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTaller">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteTallerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteTallerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDesguace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteDesguaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteDesguaceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>