sg/Admin/Manager/AdminManager/Service References/ServiceAdmin/GestionAdmin3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ManagerSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagerSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDesguace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Desguace" nillable="true" type="tns:Desguace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDesguace" nillable="true" type="tns:ArrayOfDesguace" />
  <xs:complexType name="Desguace">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ofertas" nillable="true" type="tns:ArrayOfOferta" />
      <xs:element minOccurs="0" name="Tokens" nillable="true" type="tns:ArrayOfToken" />
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Desguace" nillable="true" type="tns:Desguace" />
  <xs:complexType name="ArrayOfOferta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Oferta" nillable="true" type="tns:Oferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOferta" nillable="true" type="tns:ArrayOfOferta" />
  <xs:complexType name="Oferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desguace" nillable="true" type="tns:Desguace" />
      <xs:element minOccurs="0" name="DesguaceId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LineasOferta" nillable="true" type="tns:ArrayOfLineaOferta" />
      <xs:element minOccurs="0" name="Solicitud" nillable="true" type="tns:Solicitud" />
      <xs:element minOccurs="0" name="SolicitudId" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_en_desguace" type="xs:int" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Oferta" nillable="true" type="tns:Oferta" />
  <xs:complexType name="ArrayOfLineaOferta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineaOferta" nillable="true" type="tns:LineaOferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineaOferta" nillable="true" type="tns:ArrayOfLineaOferta" />
  <xs:complexType name="LineaOferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LineaOfertaSeleccionada" nillable="true" type="tns:LineaOfertaSeleccionada" />
      <xs:element minOccurs="0" name="LineaSolicitud" nillable="true" type="tns:LineaSolicitud" />
      <xs:element minOccurs="0" name="LineaSolicitudId" type="xs:int" />
      <xs:element minOccurs="0" name="Oferta" nillable="true" type="tns:Oferta" />
      <xs:element minOccurs="0" name="OfertaId" type="xs:int" />
      <xs:element minOccurs="0" name="id_en_desguace" type="xs:int" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineaOferta" nillable="true" type="tns:LineaOferta" />
  <xs:complexType name="LineaOfertaSeleccionada">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LineaOferta" nillable="true" type="tns:LineaOferta" />
      <xs:element minOccurs="0" name="LineaSolicitud" nillable="true" type="tns:LineaSolicitud" />
      <xs:element minOccurs="0" name="LineaSolicitudId" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineaOfertaSeleccionada" nillable="true" type="tns:LineaOfertaSeleccionada" />
  <xs:complexType name="LineaSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LineasOferta" nillable="true" type="tns:ArrayOfLineaOferta" />
      <xs:element minOccurs="0" name="LineasOfertaSeleccionada" nillable="true" type="tns:ArrayOfLineaOfertaSeleccionada" />
      <xs:element minOccurs="0" name="Solicitud" nillable="true" type="tns:Solicitud" />
      <xs:element minOccurs="0" name="SolicitudId" type="xs:int" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_en_taller" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineaSolicitud" nillable="true" type="tns:LineaSolicitud" />
  <xs:complexType name="ArrayOfLineaOfertaSeleccionada">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineaOfertaSeleccionada" nillable="true" type="tns:LineaOfertaSeleccionada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineaOfertaSeleccionada" nillable="true" type="tns:ArrayOfLineaOfertaSeleccionada" />
  <xs:complexType name="Solicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LineasSolicitud" nillable="true" type="tns:ArrayOfLineaSolicitud" />
      <xs:element minOccurs="0" name="Ofertas" nillable="true" type="tns:ArrayOfOferta" />
      <xs:element minOccurs="0" name="Taller" nillable="true" type="tns:Taller" />
      <xs:element minOccurs="0" name="TallerId" type="xs:int" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_en_taller" type="xs:int" />
      <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Solicitud" nillable="true" type="tns:Solicitud" />
  <xs:complexType name="ArrayOfLineaSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineaSolicitud" nillable="true" type="tns:LineaSolicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineaSolicitud" nillable="true" type="tns:ArrayOfLineaSolicitud" />
  <xs:complexType name="Taller">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Solicitudes" nillable="true" type="tns:ArrayOfSolicitud" />
      <xs:element minOccurs="0" name="Tokens" nillable="true" type="tns:ArrayOfToken" />
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Taller" nillable="true" type="tns:Taller" />
  <xs:complexType name="ArrayOfSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Solicitud" nillable="true" type="tns:Solicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSolicitud" nillable="true" type="tns:ArrayOfSolicitud" />
  <xs:complexType name="ArrayOfToken">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Token" nillable="true" type="tns:Token" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToken" nillable="true" type="tns:ArrayOfToken" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="0" name="Desguace" nillable="true" type="tns:Desguace" />
      <xs:element minOccurs="0" name="DesguaceId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Taller" nillable="true" type="tns:Taller" />
      <xs:element minOccurs="0" name="TallerId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="is_valid" type="xs:boolean" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="updated" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Token" nillable="true" type="tns:Token" />
  <xs:complexType name="ArrayOfTaller">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Taller" nillable="true" type="tns:Taller" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaller" nillable="true" type="tns:ArrayOfTaller" />
</xs:schema>