sg/Admin/Manager/AdminManager/Service References/ServiceAdmin/GestionAdmin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://sorception.azurewebsites.net/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GestionAdmin" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://sorception.azurewebsites.net/" location="http://sorception.azurewebsites.net/GestionAdmin.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sorception.azurewebsites.net/GestionAdmin.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sorception.azurewebsites.net/GestionAdmin.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sorception.azurewebsites.net/GestionAdmin.svc?xsd=xsd2" namespace="http://sorception.azurewebsites.net/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGestionAdmin_getDesguaces_InputMessage">
    <wsdl:part name="parameters" element="tns:getDesguaces" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_getDesguaces_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDesguacesResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_getTalleres_InputMessage">
    <wsdl:part name="parameters" element="tns:getTalleres" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_getTalleres_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTalleresResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_activeDesguace_InputMessage">
    <wsdl:part name="parameters" element="tns:activeDesguace" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_activeDesguace_OutputMessage">
    <wsdl:part name="parameters" element="tns:activeDesguaceResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_activeTaller_InputMessage">
    <wsdl:part name="parameters" element="tns:activeTaller" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_activeTaller_OutputMessage">
    <wsdl:part name="parameters" element="tns:activeTallerResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_deleteTaller_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteTaller" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_deleteTaller_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteTallerResponse" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_deleteDesguace_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteDesguace" />
  </wsdl:message>
  <wsdl:message name="IGestionAdmin_deleteDesguace_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteDesguaceResponse" />
  </wsdl:message>
  <wsdl:portType name="IGestionAdmin">
    <wsdl:operation name="getDesguaces">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAdmin/getDesguaces" message="tns:IGestionAdmin_getDesguaces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAdmin/getDesguacesResponse" message="tns:IGestionAdmin_getDesguaces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTalleres">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAdmin/getTalleres" message="tns:IGestionAdmin_getTalleres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAdmin/getTalleresResponse" message="tns:IGestionAdmin_getTalleres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="activeDesguace">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAdmin/activeDesguace" message="tns:IGestionAdmin_activeDesguace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAdmin/activeDesguaceResponse" message="tns:IGestionAdmin_activeDesguace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="activeTaller">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAdmin/activeTaller" message="tns:IGestionAdmin_activeTaller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAdmin/activeTallerResponse" message="tns:IGestionAdmin_activeTaller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteTaller">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAdmin/deleteTaller" message="tns:IGestionAdmin_deleteTaller_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAdmin/deleteTallerResponse" message="tns:IGestionAdmin_deleteTaller_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteDesguace">
      <wsdl:input wsaw:Action="http://tempuri.org/IGestionAdmin/deleteDesguace" message="tns:IGestionAdmin_deleteDesguace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGestionAdmin/deleteDesguaceResponse" message="tns:IGestionAdmin_deleteDesguace_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="GestionAdmin">
    <wsdl:port name="BasicHttpBinding_IGestionAdmin" binding="i0:BasicHttpBinding_IGestionAdmin">
      <soap:address location="http://sorception.azurewebsites.net/GestionAdmin.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>