sg/Admin/Manager/AdminManager/Service References/ServiceAdmin/GestionAdmin32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://sorception.azurewebsites.net/" elementFormDefault="qualified" targetNamespace="https://sorception.azurewebsites.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfExpDesguace">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpDesguace" nillable="true" type="tns:ExpDesguace" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpDesguace" nillable="true" type="tns:ArrayOfExpDesguace" />
  <xs:complexType name="ExpDesguace">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="aes_iv" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="aes_key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpDesguace" nillable="true" type="tns:ExpDesguace" />
  <xs:complexType name="ArrayOfExpTaller">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpTaller" nillable="true" type="tns:ExpTaller" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpTaller" nillable="true" type="tns:ArrayOfExpTaller" />
  <xs:complexType name="ExpTaller">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpTaller" nillable="true" type="tns:ExpTaller" />
</xs:schema>