sg/ClientePruebasJava/src/META-INF/wsdl/localhost_2489/GestionTaller.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagerSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/ManagerSystem"><xs:complexType name="Taller"><xs:sequence><xs:element minOccurs="0" name="Id" type="xs:int"/><xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Taller" nillable="true" type="tns:Taller"/></xs:schema>