Scrap.NET/ScrapWeb/Service References/Webservices/GestionDesguace1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ManagerSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ManagerSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://sorception.azurewebsites.net/GestionDesguace.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="TokenResponse.Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CREATED">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">201</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ACCEPTED">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">202</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NON_AUTHORITATIVE">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">203</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BAD_REQUEST">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">400</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOT_FOUND">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">404</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TokenResponse.Code" nillable="true" type="tns:TokenResponse.Code" />
  <xs:simpleType name="AMQSolicitudMessage.Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AMQSolicitudMessage.Code" nillable="true" type="tns:AMQSolicitudMessage.Code" />
  <xs:complexType name="ArrayOfExpSolicitud.Line">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpSolicitud.Line" nillable="true" type="tns:ExpSolicitud.Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpSolicitud.Line" nillable="true" type="tns:ArrayOfExpSolicitud.Line" />
  <xs:complexType name="ExpSolicitud.Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="action" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_en_taller" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpSolicitud.Line" nillable="true" type="tns:ExpSolicitud.Line" />
  <xs:simpleType name="AMQOfertaMessage.Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Update" />
      <xs:enumeration value="Delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AMQOfertaMessage.Code" nillable="true" type="tns:AMQOfertaMessage.Code" />
  <xs:complexType name="ArrayOfExpOferta.Line">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpOferta.Line" nillable="true" type="tns:ExpOferta.Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpOferta.Line" nillable="true" type="tns:ArrayOfExpOferta.Line" />
  <xs:complexType name="ExpOferta.Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_en_desguace" type="xs:int" />
      <xs:element minOccurs="0" name="linea_solicitud" nillable="true" type="tns:ExpOferta.Line.RelatedSolicitud" />
      <xs:element minOccurs="0" name="linea_solicitud_id" type="xs:int" />
      <xs:element minOccurs="0" name="notes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:double" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpOferta.Line" nillable="true" type="tns:ExpOferta.Line" />
  <xs:complexType name="ExpOferta.Line.RelatedSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="linea_solicitud_id" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpOferta.Line.RelatedSolicitud" nillable="true" type="tns:ExpOferta.Line.RelatedSolicitud" />
  <xs:complexType name="ArrayOfExpPedido.Line">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpPedido.Line" nillable="true" type="tns:ExpPedido.Line" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpPedido.Line" nillable="true" type="tns:ArrayOfExpPedido.Line" />
  <xs:complexType name="ExpPedido.Line">
    <xs:sequence>
      <xs:element minOccurs="0" name="linea_oferta_id" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpPedido.Line" nillable="true" type="tns:ExpPedido.Line" />
</xs:schema>