Scrap.NET/ScrapWeb/Service References/Webservices/GestionDesguace31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sorception.azurewebsites.net/" elementFormDefault="qualified" targetNamespace="http://sorception.azurewebsites.net/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://sorception.azurewebsites.net/GestionDesguace.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ManagerSystem" />
  <xs:element name="signUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" nillable="true" type="tns:ExpDesguace" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ExpDesguace">
    <xs:sequence>
      <xs:element minOccurs="0" name="active" type="xs:boolean" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpDesguace" nillable="true" type="tns:ExpDesguace" />
  <xs:element name="signUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="signUpResult" nillable="true" type="tns:TokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="TokenResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="status" type="q1:TokenResponse.Code" />
      <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TokenResponse" nillable="true" type="tns:TokenResponse" />
  <xs:element name="getState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStateResult" nillable="true" type="tns:TokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dummy">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="s" nillable="true" type="tns:AMQSolicitudMessage" />
        <xs:element minOccurs="0" name="o" nillable="true" type="tns:AMQOfertaMessage" />
        <xs:element minOccurs="0" name="p" nillable="true" type="tns:AMQPedidoMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AMQSolicitudMessage">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="code" type="q2:AMQSolicitudMessage.Code" />
      <xs:element minOccurs="0" name="solicitud" nillable="true" type="tns:ExpSolicitud" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AMQSolicitudMessage" nillable="true" type="tns:AMQSolicitudMessage" />
  <xs:complexType name="ExpSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="deadline" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_en_taller" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="lineas" nillable="true" type="q3:ArrayOfExpSolicitud.Line" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpSolicitud" nillable="true" type="tns:ExpSolicitud" />
  <xs:complexType name="AMQOfertaMessage">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="code" type="q4:AMQOfertaMessage.Code" />
      <xs:element minOccurs="0" name="desguace_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="oferta" nillable="true" type="tns:ExpOferta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AMQOfertaMessage" nillable="true" type="tns:AMQOfertaMessage" />
  <xs:complexType name="ExpOferta">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_en_desguace" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="lineas" nillable="true" type="q5:ArrayOfExpOferta.Line" />
      <xs:element minOccurs="0" name="solicitud_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpOferta" nillable="true" type="tns:ExpOferta" />
  <xs:complexType name="AMQPedidoMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="desguace_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pedido" nillable="true" type="tns:ExpPedido" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AMQPedidoMessage" nillable="true" type="tns:AMQPedidoMessage" />
  <xs:complexType name="ExpPedido">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ManagerSystem" minOccurs="0" name="lineas" nillable="true" type="q6:ArrayOfExpPedido.Line" />
      <xs:element minOccurs="0" name="oferta_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExpPedido" nillable="true" type="tns:ExpPedido" />
  <xs:element name="dummyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>